@use "../../styles/partials/_variables.scss" as *;
@use "../../styles/partials/_mixins.scss" as *;

.dashboard {
  padding: 0 1rem;
  @include tablet {
    padding: 0 2rem;
  }
  @include desktop {
    max-width: 1280px;
    padding: 0;
    margin: 0 auto;
  }

  &__header {
    width: 100%;
    text-align: center;
    padding: 0 1rem;
    margin: 24px 0 1rem;
    @include tablet {
      padding: 0 2rem;
    }
  }

  &__list {
    display: flex;
    align-items: flex-end;
    padding-bottom: .8rem;
    justify-content: space-between;
    margin: 5rem 0 1rem;
    border-bottom: 1px solid lightgray;
    @include tablet {
      margin-bottom: 1.5rem;
    }
  }

  &__add-icon {
    width: 1.3rem;
  }

  &__button {
    @include primary-button;

    &--secondary {
        @include secondary-button;
    }
  }

  &__container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    column-gap: 4rem;
  }

  &__item {
    display: flex;
    column-gap: 1rem;
  }

  &__card {
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 2px 2px 10px lightgray;
  }
}

.subhead {
  &__list {
    width: 100%;
    text-align: right;
    background-color: $primary-color;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    @include tablet {
      padding: 1rem 2rem;
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    color: white;
  }
}

.items {
  &__card {
    padding: 1rem;
    border-bottom: 1px solid lightgray;

    &:last-child {
      border-bottom: none;
    }
    @include tablet {
      padding: 1rem 2rem;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
  }

  &__img {
    height: 10rem;
  }

  &__container {
    display: flex;
    column-gap: 2rem;
  }
}
