@use "../../styles/partials/_variables.scss" as *;
@use "../../styles/partials/_mixins.scss" as *;

.items {
  &__card {
    padding: 1rem;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-between;

    &:last-child {
      border-bottom: none;
    }
    @include tablet {
      padding: 1rem 2rem;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
  }

  &__img {
    height: 10rem;
  }

  &__container {
    display: flex;
    column-gap: 2rem;
  }
}
