@use "../../styles/partials/_variables.scss" as *;
@use "../../styles/partials/_mixins.scss" as *;

@keyframes slide-in-left {
  from {
    right: -700px;
  }
  to {
    right: 0px;
  }
}

@keyframes slide-in-right {
  from {
    left: -30%;
  }
  to {
    left: 0%;
  }
}

.nav {
  background-color: $primary-color;
  color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  // z-index: 1;
  @include tablet {
    padding: 0.5rem 2rem;
    align-items: center;
  }

  &__container {
    background-color: $primary-color;
  }

  &__logo {
    font-size: 1.5rem;
    width: 4.5rem;
    height: 2.5rem;
  }

  &__top-left {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
  }

  &__menu {
    width: 28px;
    cursor: pointer;
    transition: background-color 0.2s;
    @include tablet {
      border-radius: 20px;
      width: 40px;
      padding: 0.5rem;

      &:hover {
        background-color: #409ac7;
      }
    }

    &--mobile {
      @include desktop {
        display: none;
      }
    }

    &--desktop {
      display: none;
      @include desktop {
        display: block;
      }
    }
  }
}

.menu__background {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
  font-size: 1rem;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.235);
  top: 0;
  position: fixed;
  scroll-snap-type: none;
  @include desktop {
    justify-content: flex-start;
  }
}

.menu {
  width: 100%;
  height: 100%;
  background-color: rgb(248, 248, 248);
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  animation-name: slide-in-left;
  animation-duration: 0.3s;
  box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.056);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  z-index: 1;
  @include desktop {
    width: 350px;
    animation-name: slide-in-right;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.056);
    border-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  &__link {
    font-size: 1.1rem;

    &--logout {
      color: $error;
    }
  }
  &__btn {
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 20px;
    transition: background-color 0.2s;
    cursor: pointer;

    @include tablet {
      &:hover {
        background-color: rgb(233, 233, 233);
      }
    }
  }

  &__close {
    width: 1.2rem;
    height: 1.1rem;
  }

  &__item {
    background-color: rgb(248, 248, 248);
    border-top: 1px solid lightgray;
    width: 100%;
    text-align: center;
    padding: 1.5rem 1rem;
    transition: background-color 0.2s;

    @include tablet {
      &:hover {
        background-color: rgb(240, 240, 240);
      }
    }
  }

  .active {
    color: $primary-color;
  }
}
