@use "../../styles/partials/_variables.scss" as *;
@use "../../styles/partials/_mixins.scss" as *;

.items {
  padding: 1rem;
  @include tablet {
    padding: 1rem 2rem;
  }
  @include desktop {
    padding: 1rem 0;
    max-width: $desktop-breakpoint;
    margin: 0 auto;
  }

  &__header {
    text-align: center;
    margin: 24px 0 1rem;
    @include tablet {
        margin: 4rem 0 2rem;
    }
  }
  &__card-container {
    display: flex;
    flex-direction: column;
    padding: 0;
    box-shadow: 2px 2px 10px lightgray;
    border-radius: 4px;
    @include tablet {
    padding: 0 1.5rem;

    }
    // border: 1px solid rgb(175, 175, 175);
  }
}
